<div class="form-container">

  <h1 class="form-title">Can$ei do <span class="red">Vermelho<span></h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= form_tag password_resets_path, class: 'form', method: :post do %>

    <div class="row">
      <div class="col-md-12">
        <%= label_tag t('.email') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= text_field_tag :email, params[:email], class: 'form-field', autofocus: true %>
      </div>
    </div>

    <div class="row form-commands">
      <div class="col-md-6">
        <%= link_to t('.cancel'), root_url %>
      </div>
      <div class="col-md-6">
        <%= submit_tag t('.reset'), class: 'pull-right' %>
      </div>
    </div>

  <% end %>
</div>
