<% content_for :stylesheet, stylesheet_link_tag("views/users/new") %>

<div class="new-user">

  <h1 class="new-user-title">Can$ei do <span class="red">Vermelho<span></h1>

  <h2 class="new-user-subtitle">Cadastrar Novo Usuário</h2>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= form_for @user do |f| %>

    <%= f.hidden_field :confirmed, value: false %>
    <%= f.hidden_field :role, value: User::ROLES.index(:user) %>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :name, class: "new-user-field", autofocus: true %>
        <%= render 'shared/error_message', resource: @user, attribute: :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :email, class: "new-user-field" %>
        <%= render 'shared/error_message', resource: @user, attribute: :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :password %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :password, type: 'password', class: "new-user-field" %>
        <%= render 'shared/error_message', resource: @user, attribute: :password %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :password_confirmation %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :password_confirmation, type: 'password', class: "new-user-field" %>
        <%= render 'shared/error_message', resource: @user, attribute: :password_confirmation %>
      </div>
    </div>

    <div class="row new-user-commands">
      <div class="col-md-6">
        <%= link_to t('.cancel'), root_url %>
      </div>
      <div class="col-md-6">
        <%= f.submit t('.create'), class: 'pull-right' %>
      </div>
    </div>

  <% end %>
</div>
