<div class="form-container">

  <h2 class="form-subtitle"><%= t('.title') %></h2>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= form_for @user, html: { class: 'form' } do |f| %>

    <%= f.hidden_field :confirmed, value: false %>
    <%= f.hidden_field :role, value: User::ROLES.index(:user) %>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :name, class: "form-field", autofocus: true %>
        <%= render 'shared/error_message', resource: @user, attribute: :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :email, class: "form-field" %>
        <%= render 'shared/error_message', resource: @user, attribute: :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :password %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :password, type: 'password', class: "form-field" %>
        <%= render 'shared/error_message', resource: @user, attribute: :password %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :password_confirmation %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :password_confirmation, type: 'password', class: "form-field" %>
        <%= render 'shared/error_message', resource: @user, attribute: :password_confirmation %>
      </div>
    </div>

    <div class="row form-commands">
      <div class="col-md-6">
        <%= link_to t('.cancel'), root_url %>
      </div>
      <div class="col-md-6">
        <%= f.submit t('.create'), class: 'pull-right' %>
      </div>
    </div>

  <% end %>
</div>
