<div class="row">
  <div class="col-md-12">
    <%= link_to t('.new'), new_client_path, class: 'pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list">

      <li class="list-header">
        <div class="row">
          <div class="col-md-3">
            <%= t('.status') %>
          </div>
          <div class="col-md-3">
            <%= t('.name') %>
          </div>
          <div class="col-md-3">
            <%= t('.phone') %>
          </div>
        </div>
      </li>

      <% @clients.each do |client| %>

        <li class="list-client">
          <div class="row">
            <div class="col-md-3">
              <%= Client.status_str(client.status) %>
            </div>
            <div class="col-md-3">
              <%= client.name %>
            </div>
            <div class="col-md-3">
              <%= client.phone %>
            </div>
            <div class="col-md-3">
              <%= link_to t('.edit'), edit_client_path(client), class: 'pull-right' %>
              <%= link_to t('.destroy'), client_path(client.id), method: :delete, class: 'pull-right' %>
            </div>
          </div>
        </li>

      <% end %>

    </ul>

  </div>
</div>
