<% content_for :stylesheet, stylesheet_link_tag("views/home") %>

<div class="row">
  <div class="col-md-8">
  </div>

  <div class="col-md-4">
    <div class="login">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <h2 class="login-title">Acesse a Plataforma</h2>

      <%= form_tag sessions_path, class: 'login-form' do %>

        <div class="row">
          <div class="col-md-12">
            <%= label_tag :email, t('.email') %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 field">
            <%= text_field_tag :email, nil, class: 'login-field', autofocus: true, placeholder: t('.placeholder.email') %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= label_tag :password, t('.password') %>
          </div>
          <div class="col-md-6">
            <%= link_to "esqueceu a senha?", new_password_reset_path, class: 'pull-right' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 field">
            <%= password_field_tag :password, nil, class: 'login-field', placeholder: t('.placeholder.password') %>
          </div>
        </div>

        <div class="row login-commands">
          <div class="col-md-6">
            <%= link_to t('.sign_up'), sign_up_path %>
          </div>
          <div class="col-md-6">
            <%= submit_tag t('.login'), class: 'pull-right' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
