<div class="row">
  <div class="col-md-12">
    <ol class='breadcrumb pull-left'>
      <li><a href="<%= sales_path %>"><%= t('layouts.application.home') %></a></li>
      <li class='active'><%= t('.title') %></li>
    </ol>
  </div>
</div>

<div class="list-new">
  <div class="row">
    <div class="col-md-12">
      <%= link_to t('.new'), new_item_path, class: 'pull-right' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list">

      <% @items.each do |item| %>

        <li class="list-item">
          <div class="row">
            <div class="col-md-2">
              <%= Item.status_str(item.status) %>
            </div>
            <div class="col-md-3">
              <%= item.name %>
            </div>
            <div class="col-md-2">
              <%= "R$#{number_with_precision(item.cost_price.to_f, precision: 2)}" %>
            </div>
            <div class="col-md-2">
              <%= "R$#{number_with_precision(item.unitary_price.to_f, precision: 2)}" %>
            </div>
            <div class="col-md-3">
              <%= link_to edit_item_path(item), class: 'pull-right margin-r-5' do %>
                <i class="fa fa-pencil-square-o" title="<%= t('.edit') %>"></i>
              <% end %>
              <%= link_to item_path(item.id), method: :delete, class: 'pull-right margin-r-5' do %>
                <i class="fa fa-trash-o" title="<%= t('.destroy') %>"></i>
              <% end %>
            </div>
          </div>
        </li>

      <% end %>

    </ul>

  </div>
</div>
