<div class="row">
  <div class="col-md-12">
    <%= link_to "Novo item", new_item_path, class: 'pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list">

      <li class="list-header">
        <div class="row">
          <div class="col-md-3">
            <%= "Situação" %>
          </div>
          <div class="col-md-3">
            <%= "Nome" %>
          </div>
          <div class="col-md-3">
            <%= "Preço de Custo" %>
          </div>
          <div class="col-md-3">
            <%= "Preço de Venda" %>
          </div>
        </div>
      </li>

      <% @items.each do |item| %>

        <li class="list-item">
          <div class="row">
            <div class="col-md-3">
              <%= Item.status_str(item.status) %>
            </div>
            <div class="col-md-3">
              <%= item.name %>
            </div>
            <div class="col-md-3">
              <%= "R$#{number_with_precision(item.cost_price.to_f, precision: 2)}" %>
            </div>
            <div class="col-md-3">
              <%= "R$#{number_with_precision(item.unitary_price.to_f, precision: 2)}" %>
            </div>
          </div>
        </li>

      <% end %>

    </ul>

  </div>
</div>
