<div class="row">
  <div class="col-md-12">
    <ol class='breadcrumb pull-left'>
      <li><a href="<%= sales_path %>"><%= t('layouts.application.home') %></a></li>
      <li><a href="<%= categories_path %>"><%= t('.index') %></a></li>
      <li class='active'><%= t('.title') %></li>
    </ol>
  </div>
</div>

<div class="form-container">

  <h1 class="form-title"><%= t('.title') %></h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= form_for @category, html: { class: 'form' } do |f| %>

  <%= f.hidden_field :user_id, value: @category.user_id %>

    <%= render 'form', f: f %>

    <div class="row form-commands">
      <div class="col-md-6">
        <%= link_to t('.cancel'), categories_url %>
      </div>
      <div class="col-md-6">
        <%= f.submit t('.update'), class: 'pull-right' %>
      </div>
    </div>

  <% end %>

</div>
