<div class="form-container">

  <h1 class="form-title"><%= t('.title') %></h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= form_for @category, html: { class: 'form' } do |f| %>

  <%= f.hidden_field :user_id, value: @category.user_id %>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :name, class: "form-field", autofocus: true %>
        <%= render 'shared/error_message', resource: @category, attribute: :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :kind %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.select :kind, options_for_select(Category::kinds.collect { |k, _| [Category.kind_str(k), k] }, @category.kind), { include_blank: t('helpers.select.prompt') }, { class: 'form-field' } %>
        <%= render 'shared/error_message', resource: @category, attribute: :kind %>
      </div>
    </div>

    <div class="row form-commands">
      <div class="col-md-6">
        <%= link_to t('.cancel'), categories_url %>
      </div>
      <div class="col-md-6">
        <%= f.submit t('.update'), class: 'pull-right' %>
      </div>
    </div>

  <% end %>

</div>
