
<div class="row">
  <div class="col-md-12">
    <%= link_to t('.new'), new_category_path, class: 'pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list">

      <li class="list-header">
        <div class="row">
          <div class="col-md-5">
            <%= t('.name') %>
          </div>
          <div class="col-md-4">
            <%= t('.type') %>
          </div>
      </li>

      <% @categories.each do |category| %>

        <li class="list-item">
          <div class="row">
            <div class="col-md-5">
              <%= category.name %>
            </div>
            <div class="col-md-4">
              <%= Category::kind_str(category.kind) %>
            </div>
            <div class="col-md-3">
              <%= link_to t('.edit'), edit_category_path(category), class: 'pull-right' %>
              <%= link_to t('.destroy'), category_path(category.id), method: :delete, class: 'pull-right' %>
            </div>
          </div>
        </li>

      <% end %>

    </ul>

  </div>
</div>
