
<div class="row">
  <div class="col-md-12">
    <%= link_to "Nova categoria", new_category_path, class: 'pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list">

      <li class="list-header">
        <div class="row">
          <div class="col-md-6">
            <%= "Nome" %>
          </div>
          <div class="col-md-6">
            <%= "Tipo" %>
          </div>
      </li>

      <% @categories.each do |category| %>

        <li class="list-item">
          <div class="row">
            <div class="col-md-6">
              <%= category.name %>
            </div>
            <div class="col-md-6">
              <%= Category::kind_str(category.kind) %>
            </div>
          </div>
        </li>

      <% end %>

    </ul>

  </div>
</div>
