<div class="form-container">

  <h1 class="form-title"><%= t('.edit') %></h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= form_for @incoming, html: { class: 'form' } do |f| %>

  <%= f.hidden_field :user_id, value: @incoming.user_id %>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :category_id %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.select :category_id, options_for_select(@categories.collect { |category| [category.name, category.id] }, @incoming.category_id), { include_blank: t('helpers.select.prompt') }, { class: 'form-field' } %>
        <%= render 'shared/error_message', resource: @incoming, attribute: :category_id %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :day %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :day, value: @incoming.day.strftime("%d-%m-%Y"), class: "form-field datepicker" %>
        <%= render 'shared/error_message', resource: @incoming, attribute: :day %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :value %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 field">
        <%= f.text_field :value, class: "form-field money-field" %>
        <%= render 'shared/error_message', resource: @incoming, attribute: :value %>
      </div>
    </div>

    <div class="row form-commands">
      <div class="col-md-6">
        <%= link_to t('.cancel'), incomings_url %>
      </div>
      <div class="col-md-6">
        <%= f.submit t('.update'), class: 'pull-right' %>
      </div>
    </div>

  <% end %>

</div>
