<div class="row">
  <div class="col-md-12">
    <%= link_to "Nova Venda", new_sale_path, class: 'pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list">

      <li class="list-header">
        <div class="row">
          <div class="col-md-4">
            <%= "Dia" %>
          </div>
          <div class="col-md-4">
            <%= "Cliente" %>
          </div>
          <div class="col-md-4">
            <%= "Valor Total" %>
          </div>
        </div>
      </li>

      <% @sales.each do |sale| %>

        <li class="list-item">
          <div class="row">
            <div class="col-md-4">
              <%= l(sale.date) %>
            </div>
            <div class="col-md-4">
              <%= sale.client_name %>
            </div>
            <div class="col-md-4">

            </div>
          </div>
        </li>

      <% end %>

    </ul>

  </div>
</div>
