<div class="row">
  <div class="col-md-12">
    <%= link_to t('.new'), new_sale_path, class: 'pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list">

      <li class="list-header">
        <div class="row">
          <div class="col-md-3">
            <%= t('.day') %>
          </div>
          <div class="col-md-3">
            <%= t('.client') %>
          </div>
          <div class="col-md-3">
            <%= t('.total_value') %>
          </div>
        </div>
      </li>

      <% @sales.each do |sale| %>

        <li class="list-item">
          <div class="row">
            <div class="col-md-3">
              <%= l(sale.date) %>
            </div>
            <div class="col-md-3">
              <%= sale.client_name %>
            </div>
            <div class="col-md-3">
              Valor Total
            </div>
            <div class="col-md-3">
              <%= link_to t('.edit'), edit_sale_path(sale), class: 'pull-right' %>
              <%= link_to t('.destroy'), sale_path(sale.id), method: :delete, class: 'pull-right' %>
            </div>
          </div>
        </li>

      <% end %>

    </ul>

  </div>
</div>
