<!DOCTYPE html>
<html>
<head>
  <title>Cansei do Vermelho</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield(:stylesheet) %>

  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <header id="header" class="container">
    <div class="row">

      <div class="col-md-4">
        <h1 class="logo pull-left">Can$ei do
          <span class="red">Vermelho<span>
        </h1>
      </div>

      <div class="col-md-8">
        <div class="nav pull-right">
          <ul>
            <li>
              <%= link_to "Saídas", outgoings_path %>
            </li>
            <li>
              <%= link_to "Entradas", incomings_path %>
            </li>
            <li>
              <%= link_to('Sair', log_out_path, method: :delete) %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </header>
<% end %>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application'%>
<%= yield(:javascript) %>

</body>
</html>
