<!DOCTYPE html>
<html>
<head>
  <title>Cansei do Vermelho</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield(:stylesheet) %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to 'Log out',  log_out_path,  method: :delete %>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application'%>
<%= yield(:javascript) %>

</body>
</html>
