<!DOCTYPE html>
<html>
<head>
  <title>Cansei do Vermelho</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield(:stylesheet) %>

  <%= csrf_meta_tags %>
</head>
<body>

<header id="header" class="container">
  <div class="row">

    <div class="col-md-4">
      <h1 class="logo pull-left">Can$ei do
        <span class="red">Vermelho<span>
      </h1>
    </div>

    <% if current_user %>
      <div class="col-md-8">
        <div class="nav pull-right">
          <ul>
            <li>
              <%= link_to t('layouts.application.sales'), sales_path %>
            </li>
            <li>
              <%= link_to t('layouts.application.clients'), clients_path %>
            </li>
            <li>
              <%= link_to t('layouts.application.items'), items_path %>
            </li>
            <li>
              <%= link_to t('layouts.application.categories'), categories_path %>
            </li>
            <li>
              <%= link_to t('layouts.application.outgoings'), outgoings_path %>
            </li>
            <li>
              <%= link_to t('layouts.application.incomings'), incomings_path %>
            </li>
            <li>
              <%= link_to t('layouts.application.logout'), log_out_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</header>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application'%>
<%= yield(:javascript) %>

</body>
</html>
